@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('owl.carousel.css');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html,
    body {
        font-family: 'Roboto', sans-serif;
    }

    @font-face {
        font-family: 'gorditamedium';
        src: url('../fonts/Gordita-Medium.eot');
        src: url('../fonts/Gordita-Medium.eot?#iefix') format('embedded-opentype'),
            url('../fonts/Gordita-Medium.woff2') format('woff2'),
            url('../fonts/Gordita-Medium.woff') format('woff'),
            url('../fonts/Gordita-Medium.ttf') format('truetype'),
            url('../fonts/Gordita-Medium.svg#Gordita-Medium') format('svg');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'gorditabold';
        src: url('../fonts/Gordita-Bold.eot');
        src: url('../fonts/Gordita-Bold.eot?#iefix') format('embedded-opentype'),
            url('../fonts/Gordita-Bold.woff2') format('woff2'),
            url('../fonts/Gordita-Bold.woff') format('woff'),
            url('../fonts/Gordita-Bold.ttf') format('truetype'),
            url('../fonts/Gordita-Bold.svg#Gordita-Bold') format('svg');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }



}

@layer components {

    .sprite {
        background-image: url(../images/sprite.webp);
        background-repeat: no-repeat;

    }

    .icon-search {
        width: 23px;
        height: 22px;
        display: block;
        background-position: -7px -8px;
    }

    .icon-bar {
        width: 26px;
        height: 17px;
        display: block;
        background-position: -40px -8px;
    }

    .icon-fb {
        background-position: -80px -3px;
    }

    .icon-fb-hover {
        background-position: -80px -42px;
    }

    .icon-twitter {
        background-position: -124px -3px;
    }

    .icon-twitter-hover {
        background-position: -124px -43px;
    }

    .icon-youtube {
        background-position: -170px -3px;
    }

    .icon-youtube-hover {
        background-position: -170px -43px;
    }

    .icon-instagram {
        background-position: -234px -3px;
    }

    .icon-instagram-hover {
        background-position: -235px -42px;
    }

    .icon-drp-arrow {
        width: 12px;
        height: 7px;
        display: inline-block;
        background-position: -213px -4px;
    }

    .icon-play {
        width: 85px;
        height: 85px;
        @apply flex;
        @apply justify-center;
        @apply items-center;
        background: rgba(163, 163, 163, 0.33);
        @apply border;
        @apply border-solid;
        @apply border-primary;
        box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25);
        @apply rounded-full;
        /* background-position: -18px -81px; */
    }
    .icon-play-circle{
        @apply w-14;
        @apply h-14;
        @apply rounded-full;
        @apply bg-primary;
        @apply block;
    }

    .play-icon{
        background-position: -272px -332px;
    }

    .icon-headphone {
        width: 32px;
        height: 28px;
        display: block;
        background-position: -305px -288px;
    }

    .icon-msg {
        width: 24px;
        height: 22px;
        display: block;
        background-position: -344px -289px;
    }

    .ico-twt {
        width: 19px;
        height: 16px;
        background-position: -339px -5px;
    }

    .ico-fb {
        width: 9px;
        height: 18px;
        background-position: -385px -5px;
    }

    .ico-insta {
        width: 18px;
        height: 18px;
        background-position: -420px -4px;
    }

    .ico-utube {
        width: 20px;
        height: 14px;
        background-position: -460px -5px;
    }

    .qa-icon-1 {
        background-position: -160px -97px;
    }

    .qa-icon-2 {
        background-position: -219px -95px;
    }

    .qa-icon-3 {
        background-position: -289px -94px;
    }

    .qa-icon-4 {
        background-position: -364px -97px;
    }

    .icon-share {
        background-position: -441px -74px;
    }

    .icon-trust {
        background-position: -3px -193px;
    }

    .who-ico-1 {
        background-position: -53px -195px;
    }

    .who-ico-2 {
        background-position: -131px -195px;
    }

    .who-ico-3 {
        background-position: -205px -195px;
    }

    .engine-ico-1 {
        background-position: -269px -193px;
    }

    .engine-ico-2 {
        background-position: -323px -195px;
    }

    .engine-ico-3 {
        background-position: -378px -194px;
    }

    .dvd-pos::before {
        background-position: -470px -101px;
    }

    .owl-nav {
        @apply absolute;
        @apply w-full;
        @apply top-1/2;
    }

    .owl-carousel .owl-nav button.owl-prev,
    .owl-carousel .owl-nav button.owl-next {
        @apply absolute;
        @apply top-1/2;
        @apply bg-[url('../images/sprite.webp')];
        @apply bg-no-repeat;
        @apply w-7;
        @apply h-[52px];
        @apply ease-in;
        @apply duration-300;
    }

    .active_new{
        @apply bg-primary;
        @apply !border-primary;
    }


    @screen xl {
        .owl-carousel .owl-nav button.owl-prev {
            /* background-position: -15px -285px; */
            background-position:-15px -343px;
            filter: grayscale(1) brightness(2);
            @apply -left-16;
        }

        .owl-carousel .owl-nav button.owl-next {
            @apply -right-[68%];
            background-position:-66px -343px;
            filter: grayscale(1) brightness(2);
            /* background-position: -69px -285px; */
        }
        .owl-carousel .owl-nav button.owl-prev:hover{
            /* background-position:-15px -343px; */
            filter: grayscale(0);
        }
        .owl-carousel .owl-nav button.owl-next:hover{
            /* background-position:-66px -343px; */
            filter: grayscale(0);
        }
    }


    .owl-carousel .owl-nav button.owl-prev span,
    .owl-carousel .owl-nav button.owl-next span {
        @apply block;
        @apply indent-[-999rem];
    }

    .owl-dot.active {
        @apply bg-primary;
        @apply rounded;
    }

    .owl-dots {
        counter-reset: my-awesome-counter;
    }

    .owl-dots li {
        counter-increment: my-awesome-counter;
        @apply relative;
        @apply cursor-pointer;
    }

    .owl-dots li::before {
        content: counter(my-awesome-counter);
        @apply text-white;
        @apply font-bold;
        @apply text-lg;
        @apply leading-none;
        @apply inline-block;
        @apply absolute;
        @apply top-[15px];
    }

    .owl-dot.active p {
        @apply pl-5;
        transition: padding-left 200ms;
    }

    .sec-03 .owl-carousel .owl-item img,
    .sec-04 .owl-carousel .owl-item img {
        @apply w-auto;
    }
    .form-sec{
        -webkit-box-shadow: 0px 13px 15px 1px rgba(0,0,0,0.05);
        -moz-box-shadow: 0px 13px 15px 1px rgba(0,0,0,0.05);
        box-shadow: 0px 13px 15px 1px rgba(0,0,0,0.05);
    }
    .sec-04{
        background:linear-gradient(-180deg, transparent, rgba(219,42,34,0.09), transparent);
    }

    @screen xl {
        .sec-04 .owl-carousel .owl-nav button.owl-prev {
            background-position: -116px -285px;
            @apply -left-14;
            @apply ease-in;
            @apply duration-300;
            @apply grayscale;
        }

        .sec-04 .owl-carousel .owl-nav button.owl-next {
            @apply -right-14;
            background-position: -169px -285px;
            @apply ease-in;
            @apply duration-300;
            @apply grayscale;
        }
        .sec-04 .owl-carousel .owl-nav button.owl-next:hover,
        .sec-04 .owl-carousel .owl-nav button.owl-prev:hover{
            @apply grayscale-0;
        }
    }

    .sec-01 .owl-carousel .owl-nav button.owl-prev {
        background-position: -116px -285px;
        @apply left-[12%];
        @apply ease-in;
        @apply duration-300;
        @apply grayscale;
    }
    .sec-01 .owl-carousel .owl-nav button.owl-next {
        @apply right-[12%];
        background-position: -169px -285px;
        @apply ease-in;
        @apply duration-300;
        @apply grayscale;
    }
    .sec-01 .owl-carousel .owl-nav button.owl-prev:hover,
    .sec-01 .owl-carousel .owl-nav button.owl-next:hover{
        @apply grayscale-0;
    }

    .carousel .owl-carousel .owl-item img {
        @apply mx-auto;
    }

    .tabs .tab-active,
    .tabs .tab-active:hover {
        @apply font-bold;
        @apply !text-primary;
        @apply leading-none;
        @apply border-primary;
        @apply relative;
        @apply rounded;
        /* @apply border-t-0;
        @apply border-r-0;
        @apply border-l-0; */
    }

    .tabs .tab-active::after,
    .tabs .tab-active:hover::after {
        content: "";
        @apply bg-[url('../images/sprite.webp')];
        @apply w-[22px];
        @apply h-2;
        @apply block;
        background-position: -269px -289px;
        bottom: -10px;
        @apply absolute;
        @apply left-1/2;
        @apply -translate-x-1/2;
    }

    /* .tabs .tab-active::before {
        content: "";
        @apply w-0;
        @apply h-0.5;
        @apply bg-primary;
        @apply absolute;
        @apply left-0;
        @apply top-0;
        transition: width 0.3s ease-in-out;
        transition-delay: 0.2s;
    } */

    /* .tabs .tab-active span::before {
        content: "";
        @apply w-0.5;
        @apply h-0;
        @apply bg-primary;
        @apply absolute;
        @apply left-0;
        @apply bottom-0;
        transition: height 0.3s ease-in-out;
        transition-delay: 0.4s;
    }

    .tabs .tab-active span::after {
        content: "";
        @apply w-0.5;
        @apply h-0;
        @apply bg-primary;
        @apply absolute;
        @apply right-0;
        @apply top-0;
        transition: height 0.3s ease-in-out;
        transition-delay: 0s;
    } */

    /* .tabs .tab-active:hover::before {
        @apply w-full;
        transition: width 0.3s ease-in-out;
        transition-delay: 0.4s;
    }

    .tabs .tab-active span:hover::before {
        @apply h-full;
        transition: height 0.3s ease-in-out;
        transition-delay: 0s;
    }

    .tabs .tab-active span:hover::after {
        @apply h-full;
        transition: height 0.3s ease-in-out;
        transition-delay: 0.8s;
    } */

    .img-360:first-child {
        @apply block;
    }

    .img-360 {
        @apply hidden;
        @apply mx-auto;
        @apply cursor-pointer;
        @apply object-cover;

    }

    .back-top {
        background-position:-11px -94px;
    }

    .icon-drp-arrow-hover {
        background-position: -213px -13px;
    }

    #threesixty {
        margin: 0 auto;
        user-select: none;
    }

    .cr-thumb .owl-nav,
    .cr-thumb .owl-carousel .owl-nav button.owl-next,
    .cr-thumb .owl-carousel .owl-nav button.owl-prev {
        @apply static;

    }

    .cr-thumb .owl-nav {
        @apply top-0;
        @apply h-[15px];
        @apply mt-4;
    }

    .cr-thumb .owl-carousel .owl-nav button.owl-next,
    .cr-thumb .owl-carousel .owl-nav button.owl-prev {
        @apply w-9;
        @apply h-[15px];
        @apply ease-in;
        @apply duration-300;
    }

    .cr-thumb .owl-carousel .owl-nav button.owl-prev {
        @apply left-0;
        background-position: -395px -287px;
    }

    .cr-thumb .owl-carousel .owl-nav button.owl-prev:hover {
        background-position: -395px -314px;
    }

    .cr-thumb .owl-carousel .owl-nav button.owl-next {
        @apply right-0;
        background-position: -438px -288px;
        @apply ml-3.5;
    }

    .cr-thumb .owl-carousel .owl-nav button.owl-next:hover {
        background-position: -438px -314px;
    }

    .cr-thumb .owl-carousel .owl-item img {
        @apply grayscale
    }

    .cr-thumb .owl-carousel .owl-item img:hover {
        @apply grayscale-0;
    }

    .sec-08car {
        @apply mt-[-77px];
        background-size: 100%;
        position: relative;
        overflow-x: hidden;
    }

    .car {
        margin-left: auto;
    }

    .car-in {
        animation: myfirst 10s ease-in-out infinite;
        position: absolute;
        right: 0;
        top: 299px;
    }

    .car-in>img {
        width: unset;
        max-width: none;
    }

    .front-wheel {
        position: absolute;
        width:58px;
        height: 57px;
        top:212px;
        bottom: auto;
        left: 107px;
        transition: transform 3000ms ease-in-out;
        /* animation:tyre-rotate 2s infinite linear; */
    }

    .back-wheel {
        position: absolute;
        width:57px;
        height:58px;
        top: 211px;
        bottom: auto;
        right: 97px;
        transition: transform 3000ms ease-in-out;
        /* animation:tyre-rotate 2s infinite linear; */
    }

    .car-parallax {
        /* position:absolute;
        bottom:-17px; */
        animation: myfirst 10s linear infinite;
    }

    .vid-radius {
        object-fit: fill;
        border-radius: 10px;
    }

    .qa-space {
        padding-top: 223px;
    }

    .change .slide-left {
        animation-name: myfirst;
        animation-duration:25s;
        animation-timing-function: linear;
        animation-iteration-count:1;
    }

    .digit-start {
        display: block;
        min-width: 162px;
        max-width: 162px;
    }

    .video-banner {
        width: 100%;
    }
    .tour-two-col{
        grid-template-columns:fit-content(70px) fit-content(70px);
        column-gap:10px;
    }
    
    .frame {
        @apply overflow-hidden;
    }
    .frame ul {
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;
        font-size: 50px;
    }
    .frame ul li {
        float: left;
        width: 235px;
        height: 100%;
        margin: 0 23px 0 0;
        padding: 0;
        color: #ddd;
        text-align: center;
        cursor: pointer;
    }
    .frame ul li.active {
        color: #fff;
    }
    .pages {
        list-style: none;
        margin: 20px 0;
        padding: 0;
        text-align: center;
        display:none;
    }
    .pages li {
        display: inline-block;
        width: 14px;
        height: 14px;
        margin: 0 4px;
        text-indent: -999px;
        border-radius: 10px;
        cursor: pointer;
        overflow: hidden;
        background: #fff;
        box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
    }
    .pages li:hover {
        background: #aaa;
    }
    .pages li.active {
        background: #666;
    }
    .scrollbar {
        margin:50px auto 0 auto;
        height:2px;
        background: #b4b4b4;
        line-height: 0;
        max-width:550px;
    }
    .scrollbar .handle {
        width: 75px;
        height: 100%;
        @apply bg-primary;
        cursor: pointer;
    }
    .scrollbar .handle .mousearea {
        position: absolute;
        top: -9px;
        left: 0;
        width: 100%;
        height: 20px;
    }
    .frame ul li{
        text-align:left;
    }
    .mobile-footer-nav{
        padding:13px 0 23px 0;
        box-shadow: 0px -4px 14px rgba(0, 0, 0, 0.25);
    }
    /* mobile device */
    @media only screen and (max-width:767px) {

        .video-banner video,
        .cr-thumb .owl-nav {
            @apply hidden;
        }

        .main-logo {
            @apply max-w-[230px];
        }

        .carousel {
            @apply w-[350px];
            @apply mx-auto;
            @apply relative;
            @apply top-[20px];
        }

        .vid-carousel {
            @apply max-w-full;
            @apply w-full;
            @apply mx-auto;
            @apply px-5;
            @apply px-5;
        }
        .sec-04{
            background: linear-gradient(180deg, rgba(218, 37, 29, 0) 0%, rgba(218, 37, 29, 0.22) 49.66%, rgba(218, 37, 29, 0) 100%);
        }
        .sec-03::after{
            content:none;
            background-image:url(../images/ms-commercial-bg-mob.webp);
            @apply absolute;
            @apply bottom-0;
            @apply w-full;
            @apply h-[144px];
        }

        .who-ico-1{
            background-position:-343px -358px;
        }
        .who-ico-2{
            background-position:-390px -360px;
        }
        .who-ico-3{
            background-position:-438px -360px;
        }
        /* .owl-carousel .owl-nav button.owl-prev{} */
        .owl-carousel .owl-nav button.owl-prev, 
        .owl-carousel .owl-nav button.owl-next{
            @apply w-3;
            @apply h-[21px];
            
        }
        .sec-01 .owl-carousel .owl-nav button.owl-prev{
            background-position:-210px -302px;
            @apply left-0;
        }
        .sec-01 .owl-carousel .owl-nav button.owl-next{
            background-position:-242px -302px;
            @apply right-0;
        }
        .engine-ico-1{
            background-position:-261px -157px;
        }
        .engine-ico-2 {
            background-position: -299px -159px;
        }
        .engine-ico-3 {
            background-position: -340px -156px;
        }
        .dvd-pos::before {
            background-position:-435px -135px;
        }
        .owl-dots li::before {
            @apply text-[22px];
            @apply leading-tight;
            @apply top-[20px];
        }
        /* .sec-01 .digit-start{
            min-width:62px;
            max-width:62px;
        } */
        .sec-03 .owl-nav{
            @apply hidden;
        }
        /* .sec-04 .owl-carousel{
            @apply px-5;
        } */
        .frame{
            @apply ml-5;
        }
        body{
            @apply pb-[77px];
        }
        .scrollbar{
            @apply hidden;
        }
        .quick-action-text br{
            @apply hidden;
        }
        .ico-twt{
            width:28px;
            height:24px;
            background-position:-349px -427px;
        }
        .ico-fb{
            width:13px;
            height:26px;
            background-position:-385px -425px;
        }
        .ico-insta{
            width:26px;
            height:26px;
            background-position:-410px -425px;
        }
        .ico-utube{
            width:29px;
            height:21px;
            background-position:-447px -430px;
        }
        .icon-headphone{
            width:24px;
            height:21px;
            background-position:-307px -333px;
        }
        .icon-msg{
            width:19px;
            height:17px;
            background-position:-340px -337px;
        }
        .sec-08car{
            @apply mt-0;
        }
        .car-view{
            @apply max-w-[60%];
            @apply mt-[7px];
            @apply mx-auto;
        }
        .sec-08car .car-view .img-car-moving{
            @apply static;
        }
        .front-wheel{
            @apply w-[23px];
            @apply h-[23px];
            @apply left-[18%];
            @apply bottom-[5%];
        }
        .back-wheel{
            @apply w-[23px];
            @apply h-[23px];
            @apply right-[16%];
            @apply bottom-[5%];
        }
        .qa-space{
            @apply pt-0;
            @apply -mt-[50px];
        }
        .icon-trust{
            background-position:-6px -194px;
            /* background-position:-8px -231px; */
        }
        .icon-search{
            @apply w-[18px];
            @apply h-[18px];
            background-position:-8px -36px;
        }
        /* .icon-bar{
            @apply w-[22px];
            @apply h-[14px];
            background-position:-39px -38px;
        } */
        .qa-icon-1{
            background-position:-283px -38px;
        }
        .qa-icon-2{
            background-position:-334px -35px;
        }
        .qa-icon-3{
            background-position:-383px -39px;
        }
        .qa-icon-4{
            background-position:-381px -149px;
        }
        .sec-04 .owl-carousel .owl-dots,
        .sec-06 .owl-carousel .owl-dots{
            @apply flex;
            @apply justify-center;
            @apply space-x-1.5;
        }
        .sec-04 .owl-carousel button.owl-dot,
        .sec-06 .owl-carousel button.owl-dot{
            @apply w-4;
            @apply h-4;
            @apply inline-block;
            @apply rounded-full;
            @apply border;
            @apply border-black;
            @apply border-solid;
        }
        .sec-04 .owl-carousel button.owl-dot.active,
        .sec-06 .owl-carousel button.owl-dot.active{
            @apply border-primary;
            @apply bg-primary;
        }
        .frame ul li{
            width:142px;
            margin:0 18px 0 0;
        }
        .fm-arrow{
            @apply w-[21px];
            @apply h-[13px];
            @apply block;
            @apply bg-no-repeat;
            @apply ml-auto;

        }
        .icon-drp-arrow{
            @apply w-[14px];
            @apply h-2;
            @apply ml-[5px];
            background-position:-211px -30px;
        }
        .qa-icon-1{
            background-position:-295px -459px;
        }
        .qa-icon-2{
            background-position:-332px -459px;
        }
        .qa-icon-3{
            background-position:-368px -459px;
        }
        .qa-icon-4{
            background-position:-403px -459px;
        }
        .icon-headphone{
            background-image:url(../images/head-phone-xs-icon.webp);
            width:34px;
            height:33px;
            background-position:center;
        }
        .cr-thumb{
            bottom:88px;
        }
        .social .tw svg,
        .social .ins svg,
        .social .fb svg,
        .social .yt svg{
            width:40px;
            height:40px;
        }

    }

    video {
        width: 100%;
        height: 100%;
    }

    .sec-08car .img-car-moving {
        @apply relative;
        @apply top-[270px];
        transition: transform 3000ms ease-in-out;
    }

    .bl-icon-1 {
        background-position: -114px -361px;
    }

    .bl-icon-1-hover {
        background-position: -115px -419px;
    }

    .bl-icon-2 {
        background-position: -163px -361px;
    }

    .bl-icon-2-hover {
        background-position: -163px -416px;
    }

    .bl-icon-3 {
        background-position: -225px -361px;
    }

    .bl-icon-3-hover {
        background-position: -225px -414px;
    }

    .bl-icon-4 {
        background-position: -285px -361px;
    }

    .bl-icon-4-hover {
        background-position: -285px -410px;
    }

    .car-list>div {
        @apply hidden;
    }

    .car-list .car-list-active {
        @apply block;
    }

    .banner-heading {
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.10);
    }

 .social a.fb:hover svg path{fill: #3577B3;}
 .social a.tw:hover svg path{fill: #53A9DC;}
 .social a.ins:hover svg path{fill: #be532a;}
 .social a.yt:hover svg path{fill: #FF0000;}

 @media not all and (min-width:395px){
    .main-logo{
        max-width:210px;
    }
 }
 @media not all and (min-width:391px){
    /* .banner-height{
        height: calc(100vh - 64px);
    } */
    .cr-thumb{
        bottom:40px;
    }
    .trust-column > li:not(:last-child){
        margin-right:10px !important;
        
    }
    .trust-column > li{
        @apply text-[11.5px];
        @apply leading-4;
    }
    .front-wheel {
        width: 20px;
        height: 20px;
        top: auto;
        left: 18%;
        bottom: 5%;
    }
    .back-wheel {
        width: 20px;
        height: 20px;
        top: auto;
        right: 17%;
        bottom: 6%;
    }
    .main-logo{
        max-width:180px;
    }
    .btn-360-xs-mob{
        margin:-62px auto 0 auto;
    }
 }

    @keyframes rightToLeft {
        0% {
            transform: translateX(10%);
        }

        90% {
            transform: translateX(50%);
        }

        100% {
            transform: translateX(0);
        }
    }

    @keyframes myfirst {
        0% {
            right: -50%;
        }

        100% {
            right: 40%;
        }
    }

    @keyframes tyre-rotate {
        from {
            transform: rotate(360deg);
        }

        to {
            transform: rotate(0deg);
        }
    }
    .showBtn {
        @apply block !important;
      }
}