@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html,
    body {
        font-family: 'Roboto', sans-serif;
    }


    @font-face {
        font-family: 'gorditamedium';
        src: url('../fonts/Gordita-Medium.eot');
        src: url('../fonts/Gordita-Medium.eot?#iefix') format('embedded-opentype'),
            url('../fonts/Gordita-Medium.woff2') format('woff2'),
            url('../fonts/Gordita-Medium.woff') format('woff'),
            url('../fonts/Gordita-Medium.ttf') format('truetype'),
            url('../fonts/Gordita-Medium.svg#Gordita-Medium') format('svg');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'gorditabold';
        src: url('../fonts/Gordita-Bold.eot');
        src: url('../fonts/Gordita-Bold.eot?#iefix') format('embedded-opentype'),
            url('../fonts/Gordita-Bold.woff2') format('woff2'),
            url('../fonts/Gordita-Bold.woff') format('woff'),
            url('../fonts/Gordita-Bold.ttf') format('truetype'),
            url('../fonts/Gordita-Bold.svg#Gordita-Bold') format('svg');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }



}

@layer components {

    .header-fixed{
        position: fixed;
        top:0;
        right:0;
        left:0;
        background-color:#fff;
        z-index:999;
        
    }
    header{
        @apply relative;
        z-index:999;
    }
    header::after{
        content:"";
        @apply absolute;
        @apply bottom-0;
        @apply left-0;
        @apply right-0;
        box-shadow: 0px 0px 6px 0px rgba(20,32,37,0.13);
        height: 100%;
        width: 100%;
        mix-blend-mode: hard-light;
        z-index: -1;
    }

    .sprite {
        background-image: url(../images/sprite.webp);
        background-repeat: no-repeat;

    }

    .icon-search {
        width: 23px;
        height: 22px;
        display: block;
        background-position: -7px -8px;
    }

    .icon-bar {
        width: 26px;
        height: 17px;
        display: block;
        background-position: -40px -8px;
    }

    .icon-fb {
        background-position: -80px -42px;
    }

    .icon-fb-hover {
        background-position: -80px -3px;
    }

    .icon-twitter {
        background-position: -124px -42px;
    }

    .icon-twitter-hover {
        background-position: -124px -3px;
    }

    .icon-youtube {
        background-position: -170px -44px;
    }

    .icon-youtube-hover {
        background-position: -170px -3px;
    }

    .icon-instagram {
        background-position: -236px -44px;
    }

    .icon-instagram-hover {
        background-position: -235px -3px;
    }

    .icon-drp-arrow {
        width: 12px;
        height: 7px;
        display: inline-block;
        background-position: -213px -4px;
    }

    .icon-play {
        width: 85px;
        height: 85px;
        @apply flex;
        @apply justify-center;
        @apply items-center;
        background: rgba(163, 163, 163, 0.33);
        @apply border;
        @apply border-solid;
        @apply border-primary;
        box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25);
        @apply rounded-full;
        /* background-position: -18px -81px; */
    }
    .icon-play-circle{
        @apply w-14;
        @apply h-14;
        @apply rounded-full;
        @apply bg-primary;
        @apply block;
    }


    /* desktop dropdown */
    .dropdown-menu{
        @apply bg-white;
        @apply absolute;
        @apply left-0;
        @apply right-0;
        @apply w-full;
        @apply z-20;
        @apply pt-[35px];
       
        @apply mt-[21px];
        @apply hidden;
        /* opacity: 0; */
        /* -webkit-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
        -webkit-transform-origin: top center;
        -ms-transform-origin: top center;
        transform-origin: top center; */
        /* visibility: hidden; */
    }
    /* .drp-menu:hover .dropdown-menu{
         visibility: visible; 
         opacity: 1; 
    } */
    .menu-box-in{
        @apply w-[386px];
        @apply h-[351px];
        @apply pt-[38px];
        @apply pl-[47px];
        @apply pb-[35px];
        @apply pr-[47px];
        @apply ease-in-out;
        @apply duration-300;
        @apply cursor-pointer;
    }
    .menu-box-in:hover{
        @apply bg-[#f9dad9]/[0.35];
        @apply ease-in-out;
        @apply duration-300;
    }
    .hr-line{
        @apply relative;
        @apply w-px;
        @apply h-[18px];
        @apply bg-[#242424]/[0.50];
        @apply block;
    }
    .dropdown-tab{
        @apply flex;
        @apply items-center;
        @apply pl-[38px];
        @apply pr-[38px];
        @apply border-b-2;
        @apply border-solid;
        @apply max-w-[500px];
        @apply mb-5;
        @apply justify-between;
        @apply mx-auto;
        @apply relative;

    }
    .dropdown-tab-link{
        @apply font-medium;
        @apply text-lg;
        @apply text-black;
        @apply leading-none;
        @apply pb-[15px];
        @apply relative;
    }
    .dropdown-tab-link.active{
        @apply text-primary;
        /* @apply after:absolute;
        @apply after:-bottom-[3px];
        @apply after:left-0;
        @apply after:h-[3px];
        @apply after:w-full;
        @apply after:bg-primary; */

    }

    header nav ul>li:hover>a{
        @apply text-primary;
    }
    header nav ul li:hover>a:after{
        @apply left-0;
        @apply w-full;
    }
    .btn-explore{
        @apply relative;
        @apply text-base ;
        @apply font-medium; 
        @apply text-primary;
        @apply leading-none;
        @apply mr-5;
        @apply pb-1;
        @apply after:absolute;
        @apply after:w-0;
        @apply after:h-px;
        @apply after:left-0;
        @apply after:bottom-0;
        @apply after:ease-in-out;
        @apply after:duration-300;
        @apply after:bg-primary;
    }
    .btn-explore:hover{
        @apply after:w-full;
    }


    .kp_btn {
        position: relative;
        display: block;
        /* height: 40px;
        width: 141px; */
        transition: all .4s ease;
    }
    .js-tab-underline {
        width: 1px;
        height:3px;
        left: 15px;
        bottom: -3px;
        position: absolute;
        @apply bg-primary;
        transition: .5s ease;
      }
      .tabs a:not(.tab-active) svg{
        opacity:0;
      }
    .tabs svg {
        position: absolute;
        bottom: 0;
        left: 0;
        /* opacity:0; */
        fill: none;
        stroke-linecap: round;
        stroke: #da251d;
        stroke-width:4px;
        stroke-dasharray: 660;
        stroke-dashoffset: 660;
        transition: opacity 300ms ease-out, stroke-dashoffset 0ms 300ms ease-out;
    }

    .tabs .tab-active svg{
        stroke-dasharray: 660;
        stroke-dashoffset:0;
    }
    .tabs a:not(.tab-active):hover svg {
        opacity: 1;
        stroke-dashoffset:0;
        transition: opacity 300ms ease-out, stroke-dashoffset 900ms ease-out;
    }
    .sec-01{
        background-size:100%;
    }


    .play-icon{
        background-position: -272px -332px;
    }

    .icon-headphone {
        width: 32px;
        height: 28px;
        display: block;
        background-position: -305px -288px;
    }

    .icon-msg {
        width: 24px;
        height: 22px;
        display: block;
        background-position: -344px -289px;
    }

    .ico-twt {
        width: 19px;
        height: 16px;
        background-position: -339px -5px;
    }

    .ico-fb {
        width: 9px;
        height: 18px;
        background-position: -385px -5px;
    }

    .ico-insta {
        width: 18px;
        height: 18px;
        background-position: -420px -4px;
    }

    .ico-utube {
        width: 20px;
        height: 14px;
        background-position: -460px -5px;
    }

    .qa-icon-1 {
        background-position: -160px -97px;
    }

    .qa-icon-2 {
        background-position: -219px -95px;
    }

    .qa-icon-3 {
        background-position: -288px -94px;
    }

    .qa-icon-4 {
        background-position: -364px -97px;
    }

    .icon-share {
        background-position: -441px -74px;
    }

    .icon-trust {
        background-position: -3px -193px;
    }

    .who-ico-1 {
        background-position: -53px -195px;
    }

    .who-ico-2 {
        background-position: -131px -195px;
    }

    .who-ico-3 {
        background-position: -205px -195px;
    }

    .engine-ico-1 {
        background-position: -269px -193px;
    }

    .engine-ico-2 {
        background-position: -323px -195px;
    }

    .engine-ico-3 {
        background-position: -378px -194px;
    }

    .dvd-pos::before {
        background-position: -470px -101px;
    }

    .owl-nav {
        @apply absolute;
        @apply w-full;
        @apply top-1/2;
    }

    .owl-carousel .owl-nav button.owl-prev,
    .owl-carousel .owl-nav button.owl-next {
        @apply absolute;
        @apply top-1/2;
        @apply bg-[url('../images/sprite.webp')];
        @apply bg-no-repeat;
        @apply w-7;
        @apply h-[52px];
        @apply ease-in;
        @apply duration-300;
        @apply -translate-y-1/2
    }

    .active_new{
        @apply bg-primary;
        @apply !border-primary;
    }
    .js-carousel-1 .owl-dots{
        bottom:0;
        left:0;
        right:0;
        transform:none;
        display: flex;
        align-items:center;
        align-items: center;
        column-gap: 4px;
        position:absolute;
    }
    /* .js-carousel-1 .owl-dots .owl-dot {
        width:50%;
    } */
    .js-carousel-1 .owl-dots .owl-dot {
        width:50%;
        position: relative;
        transition: width 1s;
        border-radius:0;
        border:0;
        height:8px;
        background-color:transparent !important;
        border-color:transparent !important;
        margin:0;

    }
    .js-carousel-1 .owl-dots .owl-dot:before {
        left: 0;
        right: 0;
        background-color:rgba(255, 255, 255, 0.4);
    }
    .js-carousel-1 .owl-dots .owl-dot:after, 
    .js-carousel-1 .owl-dots .owl-dot:before {
        height:8px;
    }
    .js-carousel-1 .owl-dots .owl-dot:after, 
    .js-carousel-1 .owl-dots .owl-dot:before {
        position: absolute;
        height: 8px;
        content: "";
        bottom: 0;
        z-index: 1;
        transition: all 0.5s linear;
    }
    .js-carousel-1 .owl-dots .owl-dot:after {
        left: 0;
        width: 100%;
    }
    .back-top:hover{
        transition:all ease 0.3s;
        opacity:0.70;
      }
    /* .js-carousel-1 .owl-dots .owl-dot:nth-child(1):after {
        background-color: #2398ce;
    } */
    /* .js-carousel-1 .owl-dots .owl-dot button:after {
        opacity: 0;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        margin-bottom: -7px;
        border-top: 7px solid #000;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
    } */
    /* .js-carousel-1 .owl-dots .owl-dot:nth-child(1) button:after {
        border-top-color: #2398ce;
    } */
    .js-carousel-1 .owl-dots .owl-dot.active:after {
        animation: animateProgLine 9300ms linear both;
        @apply bg-primary;
    }

    /* .js-carousel-1 .owl-dots{
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
    }
    .js-carousel-1 .owl-dots .owl-dot{
        width:16px;
        height: 16px;
        border: 1px solid #fff;
        border-radius:50%;
        margin:0 5px;
    }
    .js-carousel-1 .owl-dots .owl-dot.active{
        background-color:#d92323;
        border-color:#d92323;
    } */
    /* #threesixty{
        margin-top:20px !important;
    } */
    .dvd-xs{
        /* padding-left:20px; */
    }


    @media(width:1366px){
        .sec-01{
            background-size:cover;
        }
        .btn-360{
            bottom:150px !important;
        }
        .carousel{
            padding:30px 0 0 0;
        }
    }



    @screen xl {
        .owl-carousel .owl-nav button.owl-prev {
            /* background-position: -15px -285px; */
            background-position:-15px -344px;
            filter: grayscale(1) brightness(2);
            @apply -left-16;
        }

        .owl-carousel .owl-nav button.owl-next {
            @apply -right-[68%];
            background-position:-66px -343px;
            filter: grayscale(1) brightness(2);
            /* background-position: -69px -285px; */
        }
        .owl-carousel .owl-nav button.owl-prev:hover{
            /* background-position:-15px -343px; */
            filter: grayscale(0);
        }
        .owl-carousel .owl-nav button.owl-next:hover{
            /* background-position:-66px -343px; */
            filter: grayscale(0);
        }

    }


    .owl-carousel .owl-nav button.owl-prev span,
    .owl-carousel .owl-nav button.owl-next span {
        @apply block;
        @apply indent-[-999rem];
    }

    .owl-dot.active {
        @apply bg-primary;
        @apply rounded;
    }

    .owl-dots {
        counter-reset: my-awesome-counter;
    }

    .owl-dots li {
        counter-increment: my-awesome-counter;
        @apply relative;
        @apply cursor-pointer;
    }

    .owl-dots li::before {
        content: counter(my-awesome-counter);
        @apply text-white;
        @apply font-bold;
        @apply text-lg;
        @apply leading-none;
        @apply inline-block;
        @apply absolute;
        @apply top-[15px];
    }

    .owl-dot.active p {
        @apply pl-5;
        transition: padding-left 200ms;
    }

    .sec-03 .owl-carousel .owl-item img,
    .sec-04 .owl-carousel .owl-item img {
        @apply w-auto;
    }
    .form-sec{
        -webkit-box-shadow: 0px 13px 15px 1px rgba(0,0,0,0.05);
        -moz-box-shadow: 0px 13px 15px 1px rgba(0,0,0,0.05);
        box-shadow: 0px 13px 15px 1px rgba(0,0,0,0.05);
    }
    .sec-04{
        background-image:url(../images/sec-04-bg.webp);
        background-size:100% 100%;
        /* background:linear-gradient(-180deg, transparent, rgba(219,42,34,0.09), transparent); */
    }

    .search-block{
        background-color:#fff;
        transition: all 250ms ease-in-out 0s;
        display:none;
        left: auto !important;
        @apply xl:mr-5;
        @apply 2xl:mr-10;
        
    }
    .search-icon{
        width: 38px;
        height:32px;
        border-right:1px solid #da251d;
        display: flex;
        align-items:center;
    }
    .input-xl{
        padding: 10px;
        text-transform: uppercase;
        font-size: 15px;
        letter-spacing: 0.1em;
        border:0;
    }
    .input-xl:focus{
        outline:none;
        box-shadow:none;
        border:0;
    }


    @screen xl {
        .sec-04 .owl-carousel .owl-nav button.owl-prev {
            background-position: -116px -285px;
            @apply -left-12;
            @apply ease-in;
            @apply duration-300;
            background-image:url(../images/testimonial-prev-arrow.webp);
            width:29px;
            background-repeat:no-repeat;
            filter:none;
            background-position:inherit;
            /* @apply grayscale; */
        }

        .sec-04 .owl-carousel .owl-nav button.owl-next {
            @apply -right-12;
            /* background-position: -169px -285px; */
            @apply ease-in;
            @apply duration-300;
            /* @apply grayscale; */
            background-image:url(../images/testimonial-next-arrow.webp);
            width:29px;
            background-repeat:no-repeat;
            filter:none;
            background-position:inherit;
            
        }
        .sec-04 .owl-carousel .owl-nav button.owl-next:hover{
            background-image:url(../images/testimonial-next-arrow-hover.webp);
        }
        
        .sec-04 .owl-carousel .owl-nav button.owl-prev:hover{
            background-image:url(../images/testimonial-prev-arrow-hover.webp);
        }
        .carousel{
            height:350px;
           
        }
    }
    .shareMenu .submenu {
        list-style-type: none;
        padding: 0;
        margin: 0;
        position: absolute;
        width: 35px;
        bottom:25px;
        right:-5px;
    }
    .shareMenu .submenu li {
        transition: all ease-in-out 0.5s;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0;
    }
    .shareMenu .submenu li:nth-child(1) {
        transform: rotateX(45deg);
    }
    .shareMenu .submenu li:nth-child(2) {
        transform: rotateX(90deg);
    }
    .shareMenu .submenu li:nth-child(3) {
        transform: rotateX(135deg);
    }
    .shareMenu .submenu li:nth-child(4) {
        transform: rotateX(180deg);
    }
    .shareMenu .share i.fa {
        height: 40px;
        width: 40px;
        transition: 0.5s ease all;
        text-align: center;
        line-height: 40px;
        background-color: #fff;
        border-radius: 50%;
    }
    .shareMenu:hover .submenu li:nth-child(1) {
        opacity: 1;
        top: -40px;
        transition-delay: 0.08s;
        transform: rotateY(0deg);
    }
    .shareMenu:hover .submenu li:nth-child(2) {
        opacity: 1;
        top: -80px;
        transition-delay: 0.16s;
        transform: rotateY(0deg);
    }
    .shareMenu:hover .submenu li:nth-child(3) {
        opacity: 1;
        top: -120px;
        transition-delay: 0.24s;
        transform: rotateY(0deg);
    }
    .shareMenu:hover .submenu li:nth-child(4) {
        opacity: 1;
        top: -160px;
        transition-delay: 0.32s;
        transform: rotateY(0deg);
    }
    .sec-01 .owl-carousel .owl-nav button.owl-prev {
        background-position: -116px -285px;
        @apply left-[12%];
        @apply ease-in;
        @apply duration-300;
        /* @apply grayscale; */
        background-image:url(../images/vehicle-prev-arrow.webp);
        background-repeat: no-repeat;
        filter:none;
        background-position:inherit;
    }
    .sec-01 .owl-carousel .owl-nav button.owl-next {
        @apply right-[12%];
        @apply ease-in;
        @apply duration-300;
        background-image:url(../images/vehicle-next-arrow.webp);
        background-repeat: no-repeat;
        filter:none;
        background-position:inherit;
    }
    .sec-01 .owl-carousel .owl-nav button.owl-next:hover{
        background-image:url(../images/vehicle-next-arrow-hover.webp);
    }
    .sec-01 .owl-carousel .owl-nav button.owl-prev:hover{
        background-image:url(../images/vehicle-prev-arrow-hover.webp);
    }

    .carousel .owl-carousel .owl-item img {
        @apply mx-auto;
    }

    .tabs .tab-active,
    .tabs .tab-active:hover {
        @apply font-bold;
        @apply !text-primary;
        @apply leading-none;
        @apply border-primary;
        @apply relative;
        @apply rounded-sm;
        /* @apply border-t-0;
        @apply border-r-0;
        @apply border-l-0; */
    }

    .tabs .tab-active::after,
    .tabs .tab-active:hover::after {
        content: "";
        @apply bg-[url('../images/sprite.webp')];
        @apply w-[22px];
        @apply h-2;
        @apply block;
        background-position: -269px -289px;
        bottom: -3px;
        @apply absolute;
        @apply left-1/2;
        @apply -translate-x-1/2;
    }

    /* .tabs .tab-active::before {
        content: "";
        @apply w-0;
        @apply h-0.5;
        @apply bg-primary;
        @apply absolute;
        @apply left-0;
        @apply top-0;
        transition: width 0.3s ease-in-out;
        transition-delay: 0.2s;
    } */

    /* .tabs .tab-active span::before {
        content: "";
        @apply w-0.5;
        @apply h-0;
        @apply bg-primary;
        @apply absolute;
        @apply left-0;
        @apply bottom-0;
        transition: height 0.3s ease-in-out;
        transition-delay: 0.4s;
    }

    .tabs .tab-active span::after {
        content: "";
        @apply w-0.5;
        @apply h-0;
        @apply bg-primary;
        @apply absolute;
        @apply right-0;
        @apply top-0;
        transition: height 0.3s ease-in-out;
        transition-delay: 0s;
    } */

    /* .tabs .tab-active:hover::before {
        @apply w-full;
        transition: width 0.3s ease-in-out;
        transition-delay: 0.4s;
    }

    .tabs .tab-active span:hover::before {
        @apply h-full;
        transition: height 0.3s ease-in-out;
        transition-delay: 0s;
    }

    .tabs .tab-active span:hover::after {
        @apply h-full;
        transition: height 0.3s ease-in-out;
        transition-delay: 0.8s;
    } */

    .img-360:first-child {
        @apply block;
    }

    .img-360 {
        @apply hidden;
        @apply mx-auto;
        @apply cursor-pointer;
        @apply object-cover;

    }

    .back-top {
        background-position:-7px -94px;
        @apply hidden;
    }
    .back-top.showBtn{
        @apply block;
    }

    .icon-drp-arrow-hover {
        background-position: -213px -13px;
    }

    #threesixty {
        margin: 0 auto;
        user-select: none;
    }

    .cr-thumb .owl-nav,
    .cr-thumb .owl-carousel .owl-nav button.owl-next,
    .cr-thumb .owl-carousel .owl-nav button.owl-prev {
        @apply static;

    }

    .cr-thumb .owl-nav {
        @apply top-0;
        @apply h-[15px];
        @apply mt-4;
    }

    .cr-thumb .owl-carousel .owl-nav button.owl-next,
    .cr-thumb .owl-carousel .owl-nav button.owl-prev {
        @apply w-9;
        @apply h-[15px];
        @apply ease-in;
        @apply duration-300;
    }

    .cr-thumb .owl-carousel .owl-nav button.owl-prev {
        @apply left-0;
        background-position: -395px -287px;
    }

    .cr-thumb .owl-carousel .owl-nav button.owl-prev:hover {
        background-position: -395px -314px;
    }

    .cr-thumb .owl-carousel .owl-nav button.owl-next {
        @apply right-0;
        background-position: -438px -288px;
        @apply ml-3.5;
    }

    .cr-thumb .owl-carousel .owl-nav button.owl-next:hover {
        background-position: -438px -314px;
    }

    .cr-thumb .owl-carousel .owl-item img {
        @apply grayscale;
        @apply rounded-[10px];
    }

    .cr-thumb .owl-carousel .owl-item img:hover {
        @apply grayscale-0;
    }

    .sec-08car {
        @apply mt-[-77px];
        background-size: 100%;
        position: relative;
        overflow-x: hidden;
    }

    .car {
        margin-left: auto;
    }

    .car-in {
        animation: myfirst 10s ease-in-out infinite;
        position: absolute;
        right: 0;
        top: 299px;
    }

    .car-in>img {
        width: unset;
        max-width: none;
    }

    .front-wheel {
        position: absolute;
        width:58px;
        height: 57px;
        top:212px;
        bottom: auto;
        left: 107px;
        transition: transform 100ms ease;
        /* animation:tyre-rotate 2s infinite linear; */
    }

    .back-wheel {
        position: absolute;
        width:57px;
        height:58px;
        top: 211px;
        bottom: auto;
        right: 97px;
        transition: transform 100ms ease;
        /* animation:tyre-rotate 2s infinite linear; */
    }

    .car-parallax {
        /* position:absolute;
        bottom:-17px; */
        animation: myfirst 10s linear infinite;
        margin: 30px 0 0 0;
    }

    .vid-radius {
        object-fit: fill;
        border-radius: 10px;
    }

    .qa-space {
        padding-top:400px;
    }

    .slide-left {
        /* animation-name: myfirst;
        animation-duration:25s;
        animation-timing-function: linear;
        animation-iteration-count:infinite; */
        transition: all 5s linear;
        transform: translate3d(-150px, 0px, 0px) !important;
    }

    .digit-start {
        display: block;
        min-width: 162px;
        max-width: 162px;
    }

    .video-banner {
        width: 100%;
    }
    .tour-two-col{
        grid-template-columns:fit-content(70px) fit-content(70px);
        column-gap:10px;
    }
    
    .frame {
        /* @apply overflow-hidden; */
    }
    .frame ul {
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;
        font-size: 50px;
    }
    .frame ul li {
        float: left;
        width: 235px;
        height: 100%;
        margin: 0 23px 0 0;
        padding: 0;
        color: #ddd;
        text-align: center;
        cursor: pointer;
    }
    .frame ul li.active {
        color: #fff;
    }
    .pages {
        list-style: none;
        margin: 20px 0;
        padding: 0;
        text-align: center;
        display:none;
    }
    .pages li {
        display: inline-block;
        width: 14px;
        height: 14px;
        margin: 0 4px;
        text-indent: -999px;
        border-radius: 10px;
        cursor: pointer;
        overflow: hidden;
        background: #fff;
        box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
    }
    .pages li:hover {
        background: #aaa;
    }
    .pages li.active {
        background: #666;
    }
    .scrollbar {
        margin:50px auto 0 auto;
        height:2px;
        background: #b4b4b4;
        line-height: 0;
        max-width:550px;
        cursor: pointer;
    }
    .scrollbar .handle {
        width: 75px;
        height: 100%;
        @apply bg-primary;
        
    }
    .scrollbar .handle .mousearea {
        position: absolute;
        top: -9px;
        left: 0;
        width: 100%;
        height: 20px;
    }
    .frame ul li{
        text-align:left;
    }
    .frame .owl-dots{
        counter-reset: none;
        justify-content: center;
        display: flex;
        margin: 50px 0 0 0;
    }
    .frame .owl-dot{
        width:16px;
        height:16px;
        border:1px solid #da251d !important;
        border-radius:50%;
        margin:0 4px;
    }
    .mobile-footer-nav{
        padding:13px 0 23px 0;
        box-shadow: 0px -4px 14px rgba(0, 0, 0, 0.25);
    }

    /* swipe carousel css */
    .slider-section{
        max-width:1275px;
        margin: 0 auto;
    }
    .slider-container {
        position: relative;
        overflow: hidden;
    }
    .cards {
        white-space: nowrap;
    }
    .card-outter {
        width:265px;
        display: inline-block;
        padding-right:30px;
    }
    .slider {
        transition: transform 300ms ease-in;
    }
    .slider:active {
        transition: none;
        cursor: grab;
    }
    .slider-indicator-bar {
        position: relative;
        height:37px;
        width: 550px;
        margin:32px auto 0;
    }
    .slider-indicator-bar::before{
        content:"";
        position: absolute;
        width:550px;
        height:1px;
        background-color:#b4b4b4;
        top:50%;
    }
    .slider-indicator {
        position: absolute;
        left: 0;
        height:37px;
        background-color:#da251d;
        transition: left .2s ease-in-out;
        border-radius:18px;
        text-align:center;
        cursor: move;
    }
    .slider-indicator::before,
    .slider-indicator::after{
        content:"";
        width:8px;
        height:14px;
        background-repeat: no-repeat;
        position:absolute;
        top:50%;
        transform: translateY(-50%);
    }
    .slider-indicator::before{
        background-image:url(../images/drag-left-arrow.webp);
        left:12px;
    }
    .slider-indicator::after{
        background-image:url(../images/drag-right-arrow.webp);
        right:12px;
    }
    .swiper-horizontal>.swiper-scrollbar-custom{
        margin:34px auto 0 auto;
        position:relative !important;
        height:37px !important;
        width:550px !important;
        border-radius:0;
        background-color:transparent;
        overflow:hidden;
    }
    .swiper-horizontal>.swiper-scrollbar-custom::before{
        content:"";
        height:1px;
        width:100%;
        background-color:#b4b4b4;
        position:absolute;
        top:50%;
        transform:translateY(-50%);
    }
    .swiper-horizontal .swiper-scrollbar-custom .swiper-scrollbar-drag{
        height:37px;
        @apply bg-primary;
        border-radius:18px;
        display: flex;
        place-items: center;
        place-content: center;
        cursor:move;
        min-width:86px;
    }
    .swiper-horizontal .swiper-scrollbar-custom .swiper-scrollbar-drag::before,
    .swiper-horizontal .swiper-scrollbar-custom .swiper-scrollbar-drag::after{
        content:"";
        width:8px;
        height:14px;
        background-repeat: no-repeat;
        position:absolute;
        top:50%;
        transform: translateY(-50%);
    }
    .swiper-horizontal .swiper-scrollbar-custom .swiper-scrollbar-drag::before{
        background-image:url(../images/drag-left-arrow.webp);
        left:12px;
    }
    .swiper-horizontal .swiper-scrollbar-custom .swiper-scrollbar-drag::after{
        background-image:url(../images/drag-right-arrow.webp);
        right:12px;
    }




    @media only screen and (min-width:1280px) and (max-width:1360px) {
        .sec-01{
            background-size: cover;
        }
        .banner{
            height:100% !important;
        }
        .btn-360{
            @apply bottom-[128px] !important;
        }
        .sec-01 .owl-carousel .owl-nav button.owl-prev{
            left:22% !important;
        }
        .sec-01 .owl-carousel .owl-nav button.owl-next{
            right:22%;
        }
    }
    @media only screen and (width:1366px) {
        .sec-01 .owl-carousel .owl-nav button.owl-prev{
            left:22% !important;
        }
        .sec-01 .owl-carousel .owl-nav button.owl-next{
            right:22%;
        }
    }
      
    /* mobile device */
    @media only screen and (max-width:767px) {

        .video-banner video{
            @apply hidden;
        }
        .tabs a svg{
            display:none;
        }
        .main-logo {
            @apply max-w-[230px];
        }

        .carousel {
            @apply w-full;
            @apply mx-auto;
            @apply relative;
            @apply top-[20px];
        }
        .carousel-wrap{
            width:90%;
            @apply mx-auto;
            padding-top: 12px;
        }
        .tabs a span{
            @apply block;
        }
        .vid-carousel {
            @apply max-w-full;
            @apply w-full;
            @apply mx-auto;
            @apply px-5;
            @apply px-5;
        }
        .sec-04{
            background: linear-gradient(180deg, rgba(208, 226, 252, 0) 0%, #D0E2FC 49.66%, rgba(208, 226, 252, 0) 100%);
        }
        .sec-03::after{
            content:none;
            background-image:url(../images/ms-commercial-bg-mob.webp);
            @apply absolute;
            @apply bottom-0;
            @apply w-full;
            @apply h-[144px];
        }

        .who-ico-1{
            background-position:-343px -358px;
        }
        .who-ico-2{
            background-position:-390px -360px;
        }
        .who-ico-3{
            background-position:-438px -360px;
        }
        /* .owl-carousel .owl-nav button.owl-prev{} */
        .owl-carousel .owl-nav button.owl-prev, 
        .owl-carousel .owl-nav button.owl-next{
            @apply w-3;
            @apply h-[21px];
            
        }
        .sec-01 .owl-carousel .owl-nav button.owl-prev{
            background-position:-210px -302px;
            @apply left-0;
        }
        .sec-01 .owl-carousel .owl-nav button.owl-next{
            background-position:-242px -302px;
            @apply right-0;
        }
        .engine-ico-1{
            background-position:-261px -157px;
        }
        .engine-ico-2 {
            background-position: -299px -159px;
        }
        .engine-ico-3 {
            background-position: -340px -156px;
        }
        .dvd-pos::before {
            background-position:-435px -135px;
        }
        .owl-dots li::before {
            @apply text-[22px];
            @apply leading-tight;
            @apply top-[20px];
        }
        /* .sec-01 .digit-start{
            min-width:62px;
            max-width:62px;
        } */
        .sec-03 .owl-nav{
            @apply hidden;
        }
        /* .sec-04 .owl-carousel{
            @apply px-5;
        } */
        .swiper-custom{
            @apply ml-5;
        }
        body{
            @apply pb-[77px];
        }
        .scrollbar{
            @apply hidden;
        }
        .quick-action-text br{
            @apply hidden;
        }
        .ico-twt{
            width:28px;
            height:24px;
            background-position:-349px -427px;
        }
        .ico-fb{
            width:13px;
            height:26px;
            background-position:-385px -425px;
        }
        .ico-insta{
            width:26px;
            height:26px;
            background-position:-410px -425px;
        }
        .ico-utube{
            width:29px;
            height:21px;
            background-position:-447px -430px;
        }
        .icon-headphone{
            width:24px;
            height:21px;
            background-position:-307px -333px;
        }
        .icon-msg{
            width:19px;
            height:17px;
            background-position:-340px -337px;
        }
        .sec-08car{
            @apply -mt-[121px];
            @apply h-[460px];
            @apply overflow-hidden;
        }
        .car-view{
            @apply max-w-[60%];
            @apply mt-[7px];
            @apply mx-auto;
        }
        .sec-08car .car-view .img-car-moving{
            @apply static;
        }
        .front-wheel{
            @apply w-[23px];
            @apply h-[23px];
            @apply left-[18%];
            @apply bottom-[5%];
        }
        .back-wheel{
            @apply w-[23px];
            @apply h-[23px];
            @apply right-[16%];
            @apply bottom-[5%];
        }
        .qa-space{
            @apply pt-0;
            @apply -mt-[50px];
        }
        .icon-trust{
            background-position:-6px -194px;
            /* background-position:-8px -231px; */
        }
        .icon-search{
            @apply w-[18px];
            @apply h-[18px];
            background-position:-8px -36px;
        }
        /* .icon-bar{
            @apply w-[22px];
            @apply h-[14px];
            background-position:-39px -38px;
        } */
        .qa-icon-1{
            background-position:-283px -38px;
        }
        .qa-icon-2{
            background-position:-334px -35px;
        }
        .qa-icon-3{
            background-position:-383px -39px;
        }
        .qa-icon-4{
            background-position:-381px -149px;
        }
        .sec-04 .owl-carousel .owl-dots,
        .sec-06 .owl-carousel .owl-dots{
            @apply flex;
            @apply justify-center;
            @apply space-x-1.5;
        }
        .sec-04 .owl-carousel button.owl-dot,
        .sec-06 .owl-carousel button.owl-dot{
            @apply w-3;
            @apply h-3;
            @apply inline-block;
            @apply rounded-full;
            @apply border;
            @apply border-black;
            @apply border-solid;
        }
        .sec-04 .owl-carousel button.owl-dot.active,
        .sec-06 .owl-carousel button.owl-dot.active{
            @apply border-primary;
            @apply bg-primary;
        }
        .frame ul li{
            width:142px;
            margin:0 18px 0 0;
        }
        .fm-arrow{
            @apply w-[21px];
            @apply h-[13px];
            @apply block;
            @apply bg-no-repeat;
            @apply ml-auto;

        }
        .icon-drp-arrow{
            @apply w-[14px];
            @apply h-2;
            @apply ml-[5px];
            background-position:-211px -30px;
        }
        .qa-icon-1{
            background-position:-295px -459px;
        }
        .qa-icon-2{
            background-position:-332px -459px;
        }
        .qa-icon-3{
            background-position:-368px -459px;
        }
        .qa-icon-4{
            background-position:-403px -459px;
        }
        .icon-headphone{
            background-image:url(../images/head-phone-xs-icon.webp);
            width:34px;
            height:33px;
            background-position:center;
        }
        .cr-thumb{
            bottom:40px;
        }
        .social .tw svg,
        .social .ins svg,
        .social .fb svg,
        .social .yt svg{
            width:40px;
            height:40px;
        }
        .hidden-mob{
            display:none !important;
        }
        .frame .owl-dots{
            margin: 27px 0 0;
        }
        /* .js-carousel-1 .owl-dots .owl-dot{
            width:12px;
            height:12px;
        } */
        .mobile-nav{
            margin-top:59px;
        }
        .mobile-nav-block{
            border-top:1px solid #E7E7E7;
        }
        .btn-search-xs{
            width: 18px;
            padding: 0px;
            border: none;
            background: none;
            cursor: pointer;
            margin-left:8px;
        }
        .search-xs{
            width: 145px;
            height: 100%;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            padding: 0px 15px;
            box-sizing: border-box;
            margin: 0px auto;
            transition: all 250ms ease-in-out 0s;
        }
        .search-xs-form{
            width: 100%;
            display: block;
        }
        .search-xs-form input{
            width: 100%;
            box-sizing: border-box;
            background: none;
            border: none;
            padding: 10px;
            text-transform: uppercase;
            font-size: 16px;
            letter-spacing: 0.1em;
        }
        .search-xs-form input:focus{
            outline:none;
            border:0;
            box-shadow:none;
        }
        .search-xs-block{
            position:fixed;
            left:0;
            right:0;
            top:58px;
            background-color:#fff;
            z-index:999;
            padding:10px 0;
            display:none;
        }
        .width-fixed{
            width:145px !important;
        }
        .hide{
            @apply hidden;
        }
        .width-expand{
            @apply w-full;
        }
        .slider-section{
            margin:0 auto 0 20px;
            max-width:100%;
        }
        .card-outter{
            width:162px;
            padding-right:20px;
        }
        .slider-indicator-bar{
            display:none;
        }
        .swiper-horizontal>.swiper-scrollbar-custom{
            display:none;
        }
        .dvd-xs::before{
            content:"";
            width:16px;
            height:68px;
            display: block;
            background-image:url(../images/tab-lin-mobile.png);
            background-repeat: no-repeat;
        }
        header {
            height: 60px;
        }


    }

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .sec-04 .owl-stage-outer { 
        overflow: visible;
        margin: -15px; 
        padding: 15px;
        }
        
    .sec-04 .owl-item {
           opacity: 0;
           transition: opacity 500ms;
        }
    .sec-04 .owl-item.active {
          opacity: 1;
        }

    .sec-08car .img-car-moving {
        @apply relative;
        @apply top-[220px];
        transition: transform 100ms ease;
    }

    .bl-icon-1 {
        background-position: -114px -361px;
    }

    .bl-icon-1-hover {
        background-position: -115px -419px;
    }

    .bl-icon-2 {
        background-position: -163px -361px;
    }

    .bl-icon-2-hover {
        background-position: -163px -416px;
    }

    .bl-icon-3 {
        background-position: -225px -361px;
    }

    .bl-icon-3-hover {
        background-position: -225px -414px;
    }

    .bl-icon-4 {
        background-position: -285px -361px;
    }

    .bl-icon-4-hover {
        background-position: -285px -410px;
    }

    .car-list>div {
        @apply hidden;
    }

    .car-list .car-list-active {
        @apply block;
    }

    .banner-heading {
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.10);
    }

 .social a.fb:hover svg path{
    fill: #3b599a;
}
 .social a.tw:hover svg path{fill: #22a3ee;}
 .social a.ins:hover svg path{fill: #fd0013;}
 .social a.yt:hover svg path{fill: #f00024;}

 @media not all and (min-width:395px){
    .main-logo{
        max-width:210px;
    }
 }
 @media not all and (min-width:391px){
    /* .banner-height{
        height: calc(100vh - 64px);
    } */
    .cr-thumb{
        bottom:30px;
    }
    .cr-thumb .owl-nav{
        margin-top:32px;
    }
    .trust-column > li:not(:last-child){
        margin-right:10px !important;
        
    }
    .trust-column > li{
        @apply text-[11.5px];
        @apply leading-4;
    }
    .front-wheel {
        width: 20px;
        height: 20px;
        top: auto;
        left: 18%;
        bottom: 5%;
    }
    .back-wheel {
        width: 20px;
        height: 20px;
        top: auto;
        right: 17%;
        bottom: 6%;
    }
    .main-logo{
        max-width:180px;
    }
    .btn-360-xs-mob{
        margin:-62px auto 0 auto;
    }
 }

    @keyframes rightToLeft {
        0% {
            transform: translateX(10%);
        }

        90% {
            transform: translateX(50%);
        }

        100% {
            transform: translateX(0);
        }
    }

    @keyframes myfirst {
        0% {
            right: -50%;
        }

        100% {
            right: 40%;
        }
    }

    @keyframes tyre-rotate {
        from {
            transform: rotate(360deg);
        }

        to {
            transform: rotate(0deg);
        }
    }

    @keyframes animateProgLine {
        0% {
          width: 0;
        }
        100% {
          width: 100%;
        }
    }
    @keyframes ShowOutline {
        0% {
          opacity: 1;
        }
        75% {
          stroke-dashoffset: 0;
          opacity: 1;
        }
        100% {
          stroke-dashoffset: 0;
          opacity: 0;
        }
      }
    .showBtn {
        @apply block !important;
    }
}