body{
  overflow-x: hidden;
}
.list-acc>li{
    padding:12px 44px;
    font-size: 14px;
}
.plus-icon{
    width:20px;
    height:20px;
    display: block;
    background-position:-19px -441px;
}
.acc-button:not(.collapsed) .plus-icon{
    background-position:-54px -441px;
}
.specification{
    padding-top:60px;
    padding-bottom:30px;
}
.accordian-list .collapse,
.block-accordion .collapse{
    visibility: visible;
}
.tech-tabs .active{
    font-weight: 700;
}
.tech-tabs .active::before{
    content:"";
    width:100%;
    height:5px;
    display: block;
    position: absolute;
    bottom: 0;
    left:0;
    background-color:#0c0c0c;
}
.tech-tabs .active::after{
    content:"";
    width:0;
    height:0;
    line-height:0;
    position: absolute;
    left:50%;
    transform:translateX(-50%);
    bottom:5px;
    border-top-color:transparent;
    border-bottom-color:#000;
    border-style: solid;
    border-width: 0 8px 8px;

}
.minion-switcher {
    width: 122px;
    height: 38px;
    display: inline-block;
    position: relative;
    left:50%;
    transform: translateX(-50%);
  }
  .minion-switcher .check {
    width: 122px;
    height: 38px;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    outline: 0;
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .minion-switcher .btn {
    background: #9d9fa2;
    width:104px;
    height:38px;
    border-radius: 13px;
    position: absolute;
    top: 0;
  }
  .minion-switcher .btn:before, .minion-switcher .btn:after {
    font-family: sans-serif;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    font-size:20px;
    font-weight: 700;
    text-transform: uppercase;

  }
  .minion-switcher .btn:before {
    content: "On";
    right: 22px;
    font-size:16px;
  }
  .minion-switcher .btn:after {
    content: "Off";
    right: auto;
    left:20px;
    font-size: 0;
  }
  .minion-switcher.reverse .btn:before {
    font-size: 0;
  }
  .minion-switcher.reverse .btn:after {
    font-size:16px;
  }
  .minion-switcher.reverse .eye {
    left: 3px;
    right: auto;
  }
  
  .eye {
    width: 62px;
    height: 62px;
    border-radius: 62px;
    border: 1px solid #fff;
    background-color:#272727;
    overflow: hidden;
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    left:-20px;
    z-index: 1;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  
  .check:checked + .btn:before {
    font-size: 0;
  }
  .check:checked + .btn:after {
    font-size: 16px;
  }
  .check:checked + .btn .eye {
    right:-20px;
    left: auto;
  }
  .eye-active{
    background-color:#ed1c24;
  }
  .color-choose-active a span:first-child,
  .secondColor-choose-active a span:first-child{
    border-color:#a4a3a3;
    background-image:url(../images/color-tick.webp);
    background-repeat: no-repeat;
    background-position: center;
  }
  .gradient-bg-custom::after{
    content:"";
    background: linear-gradient(360deg, #000, transparent);
  }
  .sc-qa-icon-2{
    background-position:-159px -454px;
  }
  .sc-qa-icon-3{
    background-position:-225px -452px;
  }
  .custom-shadow::after{
    content:"";
    display: block;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 58.13%, #000000 100%);
    border-radius: 8px 8px 8px 8px;
    height: 166px;
  }
  .custom-shadow1::after{
    content: "";
    display: block;
    height: 283px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 8.13%, #FFFFFF 67.32%);
  }
  .accordian-wrap{
    padding-right:70px;
  }

  .accordian-body-inner.collapse{
    visibility: visible !important;
  }
  .acc-btn-active{
    background-color:#fff;
    color: #000 !important;
    border-top-left-radius:10px !important;
    border-top-right-radius:10px !important;
    border-bottom-left-radius:0 !important;
    border-bottom-right-radius:0 !important;
    padding-bottom:0px !important;
  }
  .ac-body{
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    padding-top:8px;
  }
  .acc-btn{
    min-width:728px;
  }
  .accordian-btn-inner:not(.collapsed) .toggle-icon{
      background-image:url(../images/supercarry/minus-icon.webp);
      background-repeat: no-repeat;
      background-position:center;
  }
  .accordian-btn-inner .toggle-icon{
    background-image:url(../images/supercarry/plus_icon.webp);
    background-repeat: no-repeat;
    background-position:center;
  }
  .accordian-body-inner .accordian-wrap{
    padding-top:10px;
  }
  .accordion-panel + .accordion-panel{
    margin-top:4px;
  }
  .sec-03 .owl-carousel .owl-dots{
    display: flex;
    justify-content:center;
    gap:8px;
    margin:38px 0 0 0;
    max-width:550px;
  }
  .sec-03 .owl-carousel button.owl-dot{
    width:16px;
    height:16px;
    display:inline-block;
    border-radius:100%;
    border: 1px solid #000;
  }
  .sec-03 .owl-carousel button.owl-dot.active{
    border-color: rgb(218,37,29);
    background-color: rgb(218,37,29);
  }
  .acc-btn.collapsed .minusIcon{
    display:none;
  }
  .acc-btn:not(.collapsed) .plusIcon{
    display:none;
  }
  .click-plus:hover{
    transform:scale(1.1) !important;
  }
  .change .green-car-img{
    animation:car-move 3s linear 1;
  }
  .acc-btn:not(.collapsed){
    background-color:#fff;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    color:#000 !important;
    padding-bottom: 0 !important;
  }
  .collapsed:focus-visible{
    outline:0;
  }
  .is-fixed .sc-1{
    position: fixed;
    top:0;
    width:100vw;
    height:100vh;
    overflow: hidden;
    z-index: 10999;
    background-color:#fff;

  }
  .sc-testimonial{
    background-size:100% 100%;
  }
.pointsFive{
  width:75%;
  position: absolute;
  top: 0;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
}
.car-list>div.pc-car-list-active{
  display:block;
}


.lightbox .lb-image{
  border:0 !important;
  border-radius:0 !important;
}


.hero-slider {
  position: absolute;
  max-width: 100%;
  top:0;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
}

.hero-slider .slide {
  width: 100%;
}


.hero-slider .slick-list{
  overflow:hidden;
}
.slick-dots {
  padding:0;
  margin:10px 0 0 0;
  list-style: none;
  border-radius: 0;
  display:flex;
  column-gap:4px;
  justify-content:center;
}

.slick-dots li button {
  display: block;
  width:12px;
  height:12px;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  border:1px solid #d92223;
  border-radius: 100px;
  outline: none;
  transition: .2s;
  -webkit-appearance: none;
  
}

.slick-dots li.slick-active button {
  background-color:#d92223;
}


.section-car{
  width:100%;
  position:relative;
}
svg.svg-line{
  position: relative;
  top:0;
  width:100%;
}  
  
.car-line-shape{
  position: absolute;
  z-index:1;
  top:0;
}
.car-line-shape.activeCls{
margin-top: 0;
}
.car-line-shape img{
    max-width: unset;
}
.sc-1.is-fixed{
  position: fixed;
  height: 100vh;
  background-color:#fff;
  padding-top:0;
}
.sc-1{
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}
#set-height {
  display: block;
  height: 4300px;
}
.sc-1-wrap {
  opacity: 0;
  transition: 0.6s;
  position: relative;
  margin-top:10vh;
}
.sc-1-wrap.is-fixed {
  opacity: 1;
  transition: 0.6s;
}
.sec-design{
  background-image:url(../images/tour-m/sec-design-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height:820px;
}
.design-wrap{
  padding-top:100px;
}
.tabs-item.tabs-item-new{
  min-width:145px;
}




@keyframes car-move{
  0% {
      transform: translateX(-150px);
  }

  80% {
      transform: translateX(1px);
  }
  100% {
      transform: translate(0);
  }
}

@media not all and (min-width:640px){
  .minion-switcher{
    left:0;
    transform:none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:35px;
  }
  .color-choose-active a span:first-child,
  .secondColor-choose-active a span:first-child{
    background-image:url(../images/supercarry/tick-mob.webp);
  }
  .sc-1-bg{
    background: linear-gradient(180deg, rgba(218, 37, 29, 0) 0%, rgba(218, 37, 29, 0.22) 49.66%, rgba(218, 37, 29, 0) 100%);
  }
  .sc-03{
    background: linear-gradient(180deg, rgba(218, 37, 29, 0) 0%, rgba(218, 37, 29, 0.22) 49.66%, rgba(218, 37, 29, 0) 100%);
  }
  .sc-testimonial{
    background:linear-gradient(180deg, rgba(208, 226, 252, 0) 0%, #D0E2FC 49.66%, rgba(208, 226, 252, 0) 100%);
  }
  .sec_new{
    background:linear-gradient(180deg, rgba(208, 226, 252, 0) 0%, #D0E2FC 49.66%, rgba(208, 226, 252, 0) 100%);
    padding-top: 70px;
  }
  .sec_new .owl-carousel .owl-item img{
    width:100%;
  }
  .acc-btn{
    min-width:1px;
  }
  .sec-03 .owl-carousel .owl-dots{
    margin:0;
  }
  .acc-btn-active{
    padding-bottom:0px !important;
  }
  .accordian-wrap{
    line-height: 20px;
    font-weight: 700;
    padding-right: 50px;
  }
  .ac-body{
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
  }
  .section-car{
    display:none;
  }
  .section-car-mobile{
    background: linear-gradient(180deg, rgba(208, 226, 252, 0) 0%, #D0E2FC 49.66%, rgba(208, 226, 252, 0) 100%);
    height:752px;
    padding-top:64px;
  }
  .car-line-shape-mob{
    position: absolute;
    left:0;
    bottom:0;
  }
  .point-xs{
    width:33px;
    height:33px;
    background: #272727;
    border: 3px solid #FFFFFF;
    border-radius:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .point-xs-1{
    position: absolute;
    bottom: 26%;
    left: 34%;
  }
  .point-xs-2{
    position: absolute;
    bottom: 28%;
    left: 76%;
  }
  .point-xs-text{
    display: block;
    margin-top:6px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
  }
  .car-circle{
    background: #FFFFFF;
    box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.19);
    transform: matrix(0.97, -0.26, 0.26, 0.97, 0, 0);
    /* display: block; */
    border-radius:50%;
    width:175px;
    height:175px;
    display: flex;
    place-items:center;
    justify-content:center;
    margin-left: auto;
    margin-right: auto;
  }
  .car-moving{
    margin-top:88px;
  }
  .slide-wrap{
    padding:25px 0;
  }
  .feature-1{
    margin-top:30px;
    max-width: 238px;
    margin-left: auto;
    margin-right: auto;
  }
  .feature-title{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom:8px;
  }
  .feature-text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-transform: lowercase;
    color: #000000;
  }
  .specification{
    padding-top:90px;
  }
  .accordian-list .acc-button span{
    font-size:22px;
    font-weight:500 !important;
  }
  .accordian-list button{
    padding-top:24px !important;
    padding-bottom:24px !important;
    padding-left: 20px !important;
    padding-right: 33px !important;
    
  }
  .accordion-panel + .accordion-panel{
    margin-top:3px;
  }
  .toggle-icon{
    width:44px !important;
    height:44px !important;
  }
  .accordian-btn-inner .toggle-icon{
    background-image:url(../images/supercarry/plus_icon-xs.webp);
  }
  .accordian-btn-inner:not(.collapsed) .toggle-icon{
    background-image:url(../images/supercarry/minus-icon-xs.webp);
  }
  .accordian-body-inner .accordian-wrap{
    padding-right:0;
  }
  .sec-04 .owl-stage-outer{
    overflow:hidden;
  }
  .sec-design{
    background-image:url(../images/tour-m/sec-design-bg-mobile.webp);
    height:899px;
    background-size:100%;
    margin-top:100px;
  }
}
